:root {
    --primari-font: "Roboto",
        sans-serif;
    --navyblue-cl: #2e2f42;
    --slate-cl: #434455;
    --white-cl: #FFFFFF;
    --iris-cl: #4d5ae5;
    --hover-focus-cl: #404bbf;
    --cloud-cl: #F4F4FD;
}

*,
*::before, 
*::after {
box-sizing: border-box;

}
body{
    font-family: "Roboto", sans-serif;
    color: var(--slate-cl);
    background: var(--white-cl);
}

img{
    display: block;
}


/* reset*/
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
/* header*/

button{
    cursor: pointer;
}

.container{
    width: 1470px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

.header {
        padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.list{
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: none;
}

.header-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        color: var(--iris-cl);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        }

.logo-span {
    color: var(--navyblue-cl);
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue-cl);
}

.header-link:hover,
.header-link:focus {
color: var(--hover-focus-cl)
}

.header-list-item {
    
}


address {
    font-style: normal;
}
.address.list {
    display: flex;
        align-items: center;
        gap: 40px;
}

.address.link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-cl);
}

.address.link:hover,
.address.link:focus {
    color: var(--hover-focus-cl);
}

.address-list-item {}

/* section one*/

.section {}

.one {
    background: var(--navyblue-cl);
    padding-top: 188px;
    padding-bottom: 188px;
   
}

.section.one{
    text-align: center;
}
.one-title {
        text-align: center;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white-cl);
        width: 496px;
    
}

.one-btn {
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: var(--iris-cl);
        color: var(--white-cl);
        display: flex;
        justify-content: center;
           align-items: center;
            padding: 16px 32px;
            gap: 10px;
        
            width: 236px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            margin-top: 48px;
}

.one-btn:hover,
.one-btn:focus{
    background-color: var(--hover-focus-cl);
}
/* section two*/

.section {}

.two {
    padding-top: 120px;
    padding-bottom: 60px;
}

.two-hidden-title {}

.two.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.two-title {
    
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navyblue-cl);
        margin-bottom: 8px;
}

.two-list{
    width: 264px;
    
}

.two-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-cl);
}

/* section three*/

.section {}

.three {
    padding-top: 60px;
    padding-bottom: 120px;
}

.three-title {
    padding-top: 60px;
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: var(--navyblue-cl);

}

.three.list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.three-list-item {
    width: 360px;
}

/* section four*/

.section {
    
}

.four {
    background: var(--cloud-cl);
    padding-bottom: 120px;
}

.four-title {
    padding-top: 120px;
    margin-bottom: 72px;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: var(--navyblue-cl);
}

.four.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.four-list-item {

    background-color: var(--white-cl);
}

.img-four{
   
    
    margin-bottom: 32px;
}
.four-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-cl);
    margin-bottom: 8px;
    text-align: center;
}

.four-text {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate-cl);
    margin-bottom: 32px;
}
/*section5*/

.section {}

.five {
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 96px;
    padding-bottom: 72px;
}

.filter-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-cl);
    background: var(--cloud-cl);
    padding: 12px 24px;
}

.filter-btn:hover,
.filter-btn:focus {
    color:var(--white-cl);
    background-color: var(--hover-focus-cl);
}

.portfolio{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
gap: 24px;
}

.portfolio-item{
}

.img-five{
    padding-bottom: 32px;
}
.five-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navyblue-cl);
        padding-left: 16px;
        padding-bottom: 8px;
}
.five-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-cl);
    padding-left: 16px;
    padding-bottom: 32px;
  }
/* footer*/

.footer {
    padding-top: 100px;
        padding-bottom: 100px;
    background: var(--navyblue-cl);
}

.footer-logo {
       font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--iris-cl);
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }
.footer-span{
      color: var(--cloud-cl);
}


.footer-text {
       width: 268px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-cl);
    margin-top: 17.5px;
}

.list {
    list-style: none
}